html, body{
    font-family:'Courier New'
}

#filter{
    display: flex;
    justify-content: flex-end; /* Align to the right */
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#achievements{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    justify-content: center;
    font-size: 85px;
    font-weight: 450;
    padding: 10px;
    margin-top: 5px;
    text-transform: uppercase;
}
.back-arrow{
    height: 5%;
    width: 5%;
    position: absolute;
    padding: 10px;
}
.chapter {
    margin-bottom: 40px;
    text-align: center; /* Center align the chapter */
}

.chapter-title {
    font-size: 56px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 400;

}

.achievement {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
    justify-content: center; /* Center content vertically */
}

.content-wrapper {
    margin-bottom: 10px;
    width: 62.5%; /* Ensure content is aligned with the image size */
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.achievement-title {
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
}

.achievement-date {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.achievement-description {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #444;
    width: 62.5%; /* Align with image width */
    
}

.achievement img {
    width: 60vw;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 
    0.75em -0.75em #f5bd02,
    -0.75em 0.75em rebeccapurple;
    transition: all 0.5s;
    }.achievement img:hover {
    box-shadow:
    1em -1em #f5bd02,
    -1em 1em rebeccapurple;
    }